VITE_SUPABASE_URL=https://nvgdjqqxjsethdsawspl.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im52Z2RqcXF4anNldGhkc2F3c3BsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDYyMDY0OTcsImV4cCI6MjA2MTc4MjQ5N30.rM2g99XrpmGnZR_gSRi3ztQxqYJw0EaJE_r6FfS5MgI
VITE_LOVABLE_CONNECTOR_GOOGLE_MAPS_BROWSER_KEY=AIzaSyCAEO4P6ZvYMFKo4
VITE_LOVABLE_CONNECTOR_GOOGLE_MAPS_TRACKING_ID=6a2dd9ff885f83dd4220145d7f406199
